body {
  font-size: 1rem;
  background: #eeeeee;
}

img {
  width: 100%;
  height: auto;
}

h4 {
  font-weight: lighter;
}

.card img {
  float: left;
  margin: 10px;
}

.card-image {
  width: 40%;
}

.card-title {
  color: white;
  margin-top: 50%;
}

#card-title {
  font-size: 1.3rem;
}

.small {
padding: 20px;
}

.holiday {
  background-image: url(../img/shopper.jpg);
  background-repeat: no-repeat;
}

.season {
  background-image: url(../img/shopping.jpg);
  background-repeat: no-repeat;
}

#article-tag {
  font-size: 1rem;
}

.article-tag-sm {
  color: gray;
  font-size: .9em;
  font-weight: lighter;
}

.material-icons {
  font-size: 1rem;
}

@media screen and (min-width: 740px) {
  .card-image {
    width: 100%;
  }

  .card-title {
    margin-top: 30%;
  }

  #card-title {
    width: 60%;
  }
}
